@charset "UTF-8";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 100%;
  box-sizing: border-box; }

body {
  background: #080c20;
  font-family: "Manrope", sans-serif;
  color: #fff;
  overflow-x: hidden; }

nav {
  width: 100%;
  height: 25vh;
  padding: 5rem 0 0 10.3125rem;
  transform: translateY(-1rem); }
  @media only screen and (max-width: 50em) {
    nav {
      height: 15vh;
      padding: 3rem 2.375rem; } }
  @media only screen and (max-width: 43.75em) {
    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(0); } }

.hero-container {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 50em) {
    .hero-container {
      flex-direction: column;
      height: 100%; } }

.hero-left {
  height: 100%;
  width: 25.5rem;
  transform: translateX(-3rem); }
  @media only screen and (max-width: 50em) {
    .hero-left {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 2.96875rem; } }
  .hero-left__image {
    width: 118%; }

.header-container {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/bg-hero-squiggle.svg);
  background-size: 90%;
  background-position: top;
  background-repeat: no-repeat;
  padding: 0 1rem; }
  @media only screen and (max-width: 50em) {
    .header-container {
      background-image: none; } }

.hero-right {
  height: 100%;
  width: 25.5rem;
  transform: translateX(3rem); }
  @media only screen and (max-width: 50em) {
    .hero-right {
      display: none; } }
  .hero-right__image {
    width: 100%; }

.hero-header {
  font-size: 3rem;
  text-align: center;
  line-height: 3.5rem;
  font-weight: 800;
  margin-bottom: 1.5rem; }
  .hero-header--green {
    color: #3ee9e5; }
  @media only screen and (max-width: 50em) {
    .hero-header {
      font-size: 2rem; } }

.hero-subtext {
  font-size: 1rem;
  color: #777f98;
  text-align: center;
  line-height: 1.5625rem;
  margin-bottom: 4rem; }

.feature-container {
  width: 100%;
  height: 23.9375rem;
  margin: 12.625rem 0;
  padding: 0 8rem;
  display: flex; }
  @media only screen and (max-width: 50em) {
    .feature-container {
      flex-direction: column;
      height: 100%;
      margin: 6.8125rem 0; } }
  @media only screen and (max-width: 43.75em) {
    .feature-container {
      align-items: center; } }

.feature-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 90%; }
  @media only screen and (max-width: 50em) {
    .feature-card {
      flex-direction: row;
      height: 100%;
      width: 90%;
      margin-bottom: 2.5rem;
      align-items: center; } }
  @media only screen and (max-width: 43.75em) {
    .feature-card {
      flex-direction: column;
      text-align: center;
      width: 100%; } }
  .feature-card:not(:last-child) {
    margin-right: 1.875rem; }
    @media only screen and (max-width: 50em) {
      .feature-card:not(:last-child) {
        margin: 0; } }
    @media only screen and (max-width: 43.75em) {
      .feature-card:not(:last-child) {
        margin: 3.5rem; } }
  .feature-card--end {
    align-self: flex-end; }
    @media only screen and (max-width: 50em) {
      .feature-card--end {
        justify-self: flex-end; } }
    @media only screen and (max-width: 43.75em) {
      .feature-card--end {
        align-self: center; } }

.feature-image--container {
  width: 10rem;
  height: 10rem;
  background: #093f68;
  border-radius: 2.8125rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 50em) {
    .feature-image--container {
      width: 7.5rem;
      height: 7.5rem;
      margin-right: 3.4375rem;
      margin-top: 3rem; } }
  @media only screen and (max-width: 50em) {
    .feature-image--container {
      margin-right: 0;
      margin-top: 0; } }

.feature-text--container {
  flex-direction: column; }
  @media only screen and (max-width: 50em) {
    .feature-text--container {
      display: flex;
      flex-direction: column;
      justify-content: center; } }

.feature-header {
  margin-bottom: 1.5rem;
  font-weight: 800; }

.feature-description {
  color: #777f98; }

.pricing-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 62.5em) {
    .pricing-container {
      padding: 0 1rem; } }
  @media only screen and (max-width: 50em) {
    .pricing-container {
      padding: 0 3rem; } }

.pricing-header {
  width: 33.75rem;
  margin-bottom: 6.5625rem; }
  .pricing-header--title {
    font-size: 2rem;
    color: #fff;
    text-align: center; }
  .pricing-header--subtitle {
    font-size: 1rem;
    color: #777f98;
    text-align: center;
    line-height: 1.5625rem; }
  @media only screen and (max-width: 43.75em) {
    .pricing-header {
      width: 100%; } }

.pricing-card--parent {
  max-width: 57.5rem;
  margin-bottom: 12.6875rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 50em) {
    .pricing-card--parent {
      flex-direction: column;
      justify-content: stretch;
      align-items: stretch;
      width: 100%; } }

.pricing-card-container {
  border-radius: 0.5rem;
  width: 48.5%; }
  @media only screen and (max-width: 50em) {
    .pricing-card-container {
      width: 100%; } }
  .pricing-card-container--dark {
    background: #093f68;
    color: #fff;
    position: relative;
    padding: 3.125rem 2.40625rem; }
    @media only screen and (max-width: 50em) {
      .pricing-card-container--dark {
        margin-bottom: 4rem; } }
    .pricing-card-container--dark::before {
      content: url(../assets/icon-free.svg);
      position: absolute;
      top: -1.5rem;
      left: 2.40625rem; }
  .pricing-card-container--light {
    background: #3ee9e5;
    color: #080c20;
    position: relative;
    padding: 3.75rem 2.40625rem; }
    .pricing-card-container--light::before {
      content: url(../assets/icon-paid.svg);
      position: absolute;
      top: -2.125rem;
      left: 2.40625rem; }

.pricing-card--header {
  font-size: 1.125rem;
  line-height: 1.5625rem;
  margin-bottom: 1rem; }

.pricing-card--description {
  opacity: 0.6;
  font-size: 1rem;
  line-height: 1.5625rem;
  margin-bottom: 1.5rem; }

.pricing-card--price {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center; }
  .pricing-card--price--ratio {
    opacity: 0.6;
    font-size: 1rem;
    line-height: 1.5625rem;
    margin-left: 0.5rem; }

.pricing-card--features {
  list-style: none; }

.feature-light:not(:last-child) {
  margin-bottom: 1rem; }

.feature-light::before {
  content: "✓";
  margin-right: 1rem;
  color: #3ee9e5; }

.feature:not(:last-child) {
  margin-bottom: 1rem; }

.feature::before {
  content: "✓";
  margin-right: 0.5rem; }

footer {
  width: 100%;
  height: 14.25rem;
  margin-bottom: 7.3125rem;
  background-image: url(../assets/bg-footer-squiggle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.form-header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2.625rem; }

.form-container {
  display: flex;
  align-items: center;
  position: relative; }
  @media only screen and (max-width: 43.75em) {
    .form-container {
      flex-direction: column;
      align-items: stretch;
      width: 100%;
      padding: 0 2rem; } }

.email {
  width: 20rem;
  padding: 0.75rem 1.125rem;
  margin-right: 1rem;
  background: #093f68;
  border-radius: 1.5rem;
  font-family: Helvetica;
  font-size: 1rem;
  color: #fff;
  line-height: 1.5625rem;
  border: none; }
  .email:focus {
    box-shadow: 0 0 0 0.35rem #080c20, 0 0 0 0.65rem #093f68;
    outline: none; }
  @media only screen and (max-width: 43.75em) {
    .email {
      width: 100%;
      margin-bottom: 1rem; } }

button {
  font-size: 1rem;
  color: #080c20;
  text-align: center;
  line-height: 1.5625rem;
  background: #3ee9e5;
  border-radius: 1.5rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  padding: 0.75rem 1.125rem; }
  button:focus {
    box-shadow: 0 0 0 0.35rem #080c20, 0 0 0 0.65rem #3ee9e5;
    outline: none; }
  @media only screen and (max-width: 43.75em) {
    button {
      width: 100%; } }

.error-message {
  position: absolute;
  bottom: -1.5rem;
  left: 1.1rem;
  display: none;
  color: #ff2965; }

.show-error {
  display: block; }

.show-error--border {
  border: 1px solid #ff2965; }
